<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Registration:</strong>
    <%= vehicle.registration %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= vehicle.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

</div>
