<div id="<%= dom_id journey %>">
  <p>
    <strong>Origin:</strong>
    <%= journey.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= journey.destination %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= journey.distance %>
  </p>

</div>
